<section class="portfolio">
    <h2>Portfolio</h2>
    <p>Berikut beberapa proyek yang pernah saya kerjakan:</p>
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <img src="hasil1.png" alt="Proyek 1">
        <h3>Proyek 1</h3>
        <p>Membuat To Do List.</p>
    </div>
    <div class="portfolio-item">
        <img src="hasil2.png" alt="Proyek 2">
        <h3>Proyek 2</h3>
        <p>Membuat Game Batu, Gungting, Kertas.</p>
    </div>
    <div class="portfolio-item">
        <img src="hasil3.png" alt="Proyek 3 ">
        <h3>Proyek 3</h3>
        <p>Membuat PortFolio.</p>
    </div>
    </div>
  </section>