<header>
  <h1>Portfolio Saya</h1>
</header>
<section>
  <h2>Tentang Saya</h2>
  <p>Halo! Saya seorang desainer & pengembang web yang bersemangat dalam menciptakan pengalaman digital yang menarik dan fungsional.</p>
  <p>Namaku Edy Prabowo. Kamu bisa panggil aku Edy. Saya hanya mencari pengalaman dalam desain UI/UX, front-end development, dan pengembangan aplikasi berbasis web.</p>
  <p>Saya selalu tertarik dengan teknologi terbaru dan senang mempelajari hal-hal baru untuk meningkatkan keterampilan saya.</p>
</section>
<section class="portfolio">
  <h2>Portfolio</h2>
  <p>Berikut beberapa proyek yang pernah saya kerjakan:</p>
  <div class="portfolio-grid">
    <div class="portfolio-item">
      <img src="hasil1.png" alt="Proyek 1">
      <h3>Proyek 1</h3>
      <p>Membuat To Do List.</p>
  </div>
  <div class="portfolio-item">
      <img src="hasil2.png" alt="Proyek 2">
      <h3>Proyek 2</h3>
      <p>Membuat Game Batu, Gungting, Kertas.</p>
  </div>
  </div>
</section>
<section>
  <h2>Kontak</h2>
  <p>Jika ingin berdiskusi lebih lanjut atau berkolaborasi dalam proyek, silakan hubungi saya melalui:</p>
  <p>Email: prabowoedy80<span>&#64;</span>.com</p>
  <p>GitHub: <a href="https://github.com/EDY1324">https://github.com/EDY1324</a></p>
</section>
<footer>
  &copy; 2025 Portfolio Saya. Dibuat dengan dedikasi dan kreativitas.
</footer>