<div class="content">
    <div class="text">
      <h2>Edy Prabowo</h2>
      <p>
        Halo, Perkenalkan nama saya Edy Prabowo. Saya Pelajar Pengembangan Perangkat Lunak dan Gim di SMKN 1 Beringin 
        (Sumatera Utara). Saat ini saya sedang belajar sebagai Font end web. Saya belajar 
        membuat aplikasi front end menggunakan Angular.
      </p>
      <button class="contact-btn">📩 Contact</button>
    </div>
    <img src="sticker_4.webp" (click)="hutaoSurprise()">
    <audio #prankSound src="hu_tao_prank.mp3"></audio>
  </div>